.App-header {
  background-color: #222;
  height: 80px;
  padding: 10px;
  color: white;
}

.App-title {
  font-size: 2em;
  text-align: center;
}

.App-intro {
  font-size: large;
  text-align: center;
}

p.App-footer {
  text-align: center;
}